.git
.gitignore
.github
.vscode
.idea
.DS_Store

node_modules
**/node_modules

.env
**/.env
**/.env.local
**/.env.*.local

.medusa
**/.medusa
dist
**/dist
build
**/build
.next
**/.next
out
**/out

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage
**/coverage
.cache
**/.cache
.turbo
**/.turbo

README.md
